#!/usr/bin/python2.7
#-*- coding: utf-8 -*-

INTERFACE='wlan0'
FIREBASE_URL='https://firestore.googleapis.com/v1/projects/firebase-pi-temp/databases/(default)/documents'	
SENSOR_ID='28-000007555095'
ROOM='office'

# All delays are in seconds
DELAY_PING=300
DELAY_MEASURE=600
DELAY_PUSH=30
